.sidebar{
width:260px;
background:#2B7A57;
color:white;
padding:20px;
}

.menu-title{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
margin-top:15px;
background:#245f45;
border-radius:6px;
cursor:pointer;
font-weight:600;
}

.submenu{
padding-left:15px;
margin-top:8px;
}

.menu-item{
padding:8px 10px;
border-radius:6px;
cursor:pointer;
}

.menu-item:hover{
background:#1F5E46;
}

.arrow{
font-size:12px;
}