.sidebar{
width:200px;
height:calc(100vh - 60px);
background:rgb(240, 240, 240);
color:rgb(20, 8, 8);
padding:20px;
transition:0.3s;
position:fixed;
left:0;
top:60px;
position: fixed;
}

.sidebar.collapsed{
width:70px;
}



.sidebar-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.menu-toggle{
cursor:pointer;
font-size:18px;
}

/* LOGO */

.logo{
font-size:20px;
}

/* MENU */

.menu-title{
background:#eee9e5;
padding:10px;
margin-bottom:10px;
cursor:pointer;
display:flex;
justify-content:space-between;
border-radius:5px;
}
.menu-title:hover{
background: #c08862;
}

.submenu{
margin-left:10px;
}

.menu-item{
padding:8px;
margin-bottom:6px;
background:#fff;
border-radius:4px;
cursor:pointer;

}
.menu-item:hover{
background:#e09f74;
}


.logout{
margin-top:20px;
background:#a94442;
}

.menu-left{
display:flex;
align-items:center;
gap:10px;
}

.menu-icon{
font-size:20px;
}

.sidebar.collapsed .menu-left span{
display:none;
}

.sidebar.collapsed .arrow{
display:none;
}

.sidebar.collapsed .submenu{
display:none;
}

.sidebar.collapsed .menu-item{
text-align:center;
}