.dashboard-layout{
  display:flex;
  
}

.dashboard-content{
  margin-left:200px;
  padding:20px;
  transition:0.3s;
}

/* when sidebar collapsed */

.sidebar.collapsed + .dashboard-content{
  margin-left:70px;
}
body {
  overflow-y: hidden;
}