.header{
position:fixed;
top:0;
left:0;
width:100%;
height:60px;
background:#ffffff;
border-bottom:1px solid #ddd;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
z-index:1000;
}

.header-right{
display:flex;
align-items:center;
gap:15px;

}


.user-email{
color:#2f4f7f;
font-weight:500;
font-size:15px;

}

.logout-icon{
color:#e74c3c;
cursor:pointer;
font-size:20px;
display: flex;
}
.dashboard-layout{
display:flex;
width:100%;
min-height:100vh;
}


.sidebar{
width:200px;
transition:0.3s;
flex-shrink:0;

}

.sidebar.collapsed{
width:70px;
}


.main-content{
flex:1;
margin-top:60px;
padding:20px;
background:#f4f6f9;
}
