.master-page{
width:100%;
}

/* HEADER */

.master-header{
background:#c08a61;
color:white;
padding:0px 15px;
display:flex;
justify-content:space-between;
align-items:center;
border-radius:6px;
margin-bottom:15px;
}

/* ADD BUTTON */

.add-btn{
background:#c08a61;
color:white;
border:none;
padding:8px 15px;
border-radius:4px;
cursor:pointer;
float: right;
}

/* TOOLBAR */

.master-toolbar{
display:flex;
justify-content:flex-end;
margin-bottom:10px;
}

/* SEARCH */

.search-box{
padding:8px;
border:1px solid #ccc;
border-radius:4px;
width:220px;
}

/* GRID */

.master-grid{
height:500px;
background:white;
border-radius:6px;
padding:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.ag-theme-alpine{
height:100%;
width:100%;
}